<h1 *ngIf="hasProp( metadata, 'title') "
    [class]="getTitleClass() ? getTitleClass() : 'w3-teal w3-block w3-large w3-center' "
     >{{metadata['title']}}</h1>

<div class="w3-card" *ngFor="let prop of object">
   <div name="prop" [class]=" prop.class ? prop.class : ( metadata.PropsClasses ? metadata.PropsClasses : 'w3-bar w3-margin-top')">
        <span>
             <input [(ngModel)]="prop.key"
                    [class] = " prop.keyClass ? prop.keyClass : ( metadata.keysClasses ? metadata.keysClasses :  'w3-input w3-right  w3-col l5 m5 s12')"
                    [readonly]=" hasProp( prop, 'keyEditable' )  ? !prop.keyEditable : ( metadata.keysEditable ?  !metadata.keysEditable : 'true')"
                    (change)  = "objectedited()"
                    [placeholder]="prop.keyPlaceholder || 'key'"
             >
        </span >
        <span [class]=" prop.valueParentClass ? prop.valueParentClass : ( metadata.valuesParentsClasses ? metadata.valuesParentsClasses : 'w3-right  w3-col l5 m5 s12')" >
            <input *ngIf="prop.element == 'input' || ! hasProp(prop, 'element')"
                    [type]="prop.inputType ? prop.inputType : 'text' "
                    [(ngModel)]="prop.value"
                    [class]= " prop.valueClass ? prop.valueClass : ( metadata.valuesClasses ? metadata.valuesClasses : 'w3-input w3-right  w3-col l5 m5 s12')"
                    [min]="prop.min" [max]="prop.max" [step]="prop.step"
                    [readonly]=" hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')"
                    [disabled]=" hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')"
                    (change)  = "objectedited()"
                    [placeholder]="prop.valuePlaceholder || 'value'"         >
            <textarea 
                    *ngIf="prop.element == 'textarea' " 
                    [(ngModel)]="prop.value"
                    [class]= " prop.valueClass ? prop.valueClass : ( metadata.valuesClasses ? metadata.valuesClasses : 'w3-text w3-block')"
                    [readonly]=" hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')"
                    (change)  = "objectedited()"
                    [placeholder]="prop.valuePlaceholder || 'value'"
            > </textarea>
            <select *ngIf="prop.element == 'select'"
                    [(ngModel)]="prop.value"
                    [class]= " prop.valueClass ? prop.valueClass : ( metadata.valuesClasses ? metadata.valuesClasses : 'w3-select w3-right  w3-col l5 m5 s12')"
                    (change)  = "objectedited()"       >
                <option *ngIf="prop.valuePlaceholder" disabled>{{prop.valuePlaceholder}}</option>
                <option *ngFor="let option of prop.options" 
                        [value]="option.key" 
                        [attr.selected]=" prop.value == option.key " 
                        [attr.disabled]=" hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')" >{{option.value}}</option>
            </select>
            <div *ngIf="prop.element == 'check'" >
                <div  class=" prop.optionsContainerClass ? prop.optionsContainerClass : ( metadata.optionsContainersClasses ? metadata.optionsContainersClasses : 'w3-container w3-card w3-block w3-col l11 m11 s12' )  " *ngFor="let option of prop.value">  
                        <input      type="checkbox"  
                            [(ngModel)]="option.value"                         
                            [class]= " prop.valueClass ? prop.valueClass : ( metadata.valuesClasses ? metadata.valuesClasses : 'w3-right w3-col l1 m1 s1')"
                            (change)  = "objectedited()"
                            [attr.checked] = "option.value"
                            [attr.disabled] =" hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')">
                        <span class=" prop.optionKeyClass ? prop.optionKeyClass : ( metadata.optionsKeysClasses ? metadata.optionsKeysClasses : 'w3-rest' )">{{option.key}}</span>                    
                </div>       
            </div>
            
            <div *ngIf="prop.element == 'radio'" >
                <div  id="prop.key"  >
                    <div class=" prop.optionsContainerClass ? prop.optionsContainerClass : ( metadata.optionsContainersClasses ? metadata.optionsContainersClasses : 'w3-container w3-card w3-block w3-col l11 m11 s12' )  " *ngFor="let option of prop.options"> 
                            <input      type="radio"
                                name       = "prop.key"
                                [value]      = "option.key"
                                [(ngModel)]="prop.value"
                                [class]= " prop.valueClass ? prop.valueClass : ( metadata.valuesClasses ? metadata.valuesClasses : 'w3-right w3-col l1 m1 s1')"
                                (change)  = "objectedited()"
                                [attr.checked]    = " prop.key == option.key "
                                [attr.disabled]   = " hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : ( metadata.valuesEditable ?  !metadata.valuesEditable : 'true')" >
                            <span class=" prop.optionKeyClass ? prop.optionKeyClass : ( metadata.optionsKeysClasses ? metadata.optionsKeysClasses : 'w3-rest' )">{{option.value}}</span>               
                    </div>
                </div>
            </div>
        </span >
        <span >
             <input type="button" (click)="delete(prop)" 
                    [disabled]=" hasProp(prop, 'deletable') ? ! prop.deletable : ( metadata.propsDeletable ?  ! metadata.propsDeletable : 'true')"
                class="w3-red w3-left w3-button w3-btn w3-ripple w3-col w3-left l1 m1 s4" value="x" >
        </span>
    </div>   
</div>
<div class="w3-bar w3-card w3-container" *ngIf="metadata.extendable" >
   <button class="w3-button w3-btn w3-ripple w3-bordered w3-center w3-third" (click)="addProperty()">{{metadata.extendableTxt ? metadata.extendableTxt : 'إضافة صف'  }}</button>
   <button class="w3-button w3-btn w3-ripple w3-bordered w3-center w3-third" 
           *ngIf="metadata.save"  
           (click)="metadata.save(usableArray, usableJson, metadata.saveParameter)">
           {{metadata.saveTxt ? metadata.saveTxt : 'save'}}
    </button>
    <button class="w3-button w3-btn w3-ripple w3-bordered w3-center w3-third" 
           *ngIf="metadata.cancel"  
           (click)="metadata.cancel(usableArray, usableJson, metadata.saveParameter)">
           {{metadata.cancelTxt ? metadata.cancelTxt : 'cancel'}}
    </button>
</div>
<!--*ngIf="hasProp(prop , 'element') && prop.element == 'input' | "  [readonly]="hasProp( prop, 'valueEditable' )  ? !prop.valueEditable : !metadata.valuesEditable "
                     -->
