<obj-editor 
   [object] = "testObject"
   (getUsableArray) = "usableArrayRecieved($event)"
   (getUsableJson)   = "usableJsonRecieved($event)"
   [metadata] ="objMetaData"
></obj-editor>
<div   >
    {{usableJson|json}}
</div>
